<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xjosiah.demo.dao.UserMapper">
    <insert id="createUser">
        insert into user(username, password, picUrl, role) value (#{user.username},#{user.password},#{user.picUrl},#{user.role})
    </insert>
    <delete id="deleteUser">
        delete from user where username = #{username} and password = #{password}
    </delete>
    <select id="findUserByName" resultType="org.xjosiah.demo.entity.User">
        select username,password from user where username = #{username};
    </select>
    <select id="loginUser" resultType="org.xjosiah.demo.entity.User">
        select username,password from user where username = #{username} and password = #{password};
    </select>
</mapper>